body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    text-align: center; /*center text*/
}

h1, h2 {
    color: #003366;
    text-shadow: 2px 2px 4px #ccc;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin: 20px 0;
    text-align: center; /*center text*/
}

img {
    width: 300px; /* adjust this value to the desired size */
    height: 300px; /* adjust this value to the desired size */
    border-radius: 10px;
    box-shadow: 2px 2px 4px #ccc;
    display:inline-block; /* center image*/
    margin:0 auto; /* center image*/
}