body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
}

h1, h2 {
    text-align: center;
    color: #003366;
    text-shadow: 2px 2px 4px #ccc;
}

p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: #333;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #ccc;
}